/* Reset default styling */
* { 
    font-family: Trajan Pro;
    padding: 0px;
    margin: 0px;
}

/* Define custom font */
@font-face {
    font-family: Trajan Pro;
    src: url(../fonts/TranjanProRegular.ttf)
}

/* Clearfix for containing floated elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Header styling */
.header{
    background-color: #8B0000; /* Deep Red */
    color: #FFFFFF; /* Text color for better contrast */
    display: grid;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
}

/* Header title styling */
.header h1{
    padding-bottom: 5px;
}

/* Header button styling */
.header button{
    background-color: #8B0000; /* Deep Red */
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    color: #FFFFFF; /* White text color for contrast */
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Box shadow properties */
    transition: background-color 0.6s ease;
}

/* Header button hover effect */
.header button:hover 
{
    background-color: #CD5C5C; /* Lighter shade of red on hover */
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); /* Adjusted box shadow on hover */
}

/* Header image styling */
.header img {
    max-width: 52px;
    height: auto;
    margin-top: 20px;
}

#historyclick,
#inventionclick,
#cultureclick {
    cursor: pointer;
}

/* Navigation list styling */
nav ul{
    display: none;
    flex-direction: row;
    justify-content: center;
}

/* Body styling */
body {
    width: 100%;
    height: 10em;
    box-sizing: border-box;
}

/* Quiz main container styling */
.quizmain {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

/* Quiz score text styling */
.score p {
    font-size: 30px;
}

/* Quiz question text styling */
.question {
    font-size: 20px;
}

/* Quiz answer container styling */
.answer {
    display: flex;
    height: 50%;
}

/* Styling for question container */
.question{
    height: 50%;
    position: relative;
}

/* Styling for the start button within a question */
.question .start{
    position:absolute;
    height: 20%;
    width: 20%;
}
.question{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question p{ 
    font-size: 2em;
}
.score{
    height: 10em;
    
}
.score p{
    font-size: 2em;
}
.answer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ans{
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    
}
.box,.start{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}
.hide{
    display: none;
}
.ans :hover{
    cursor:pointer;
}

.default{
    background-color: #FDF5E6;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}

.hide{
    display: none;
    width: 0%;
}
.text{
    font-size: 1.5em;
}

/* Bug Fix for Ham Menu */
#menuList.menuShow{
    display: block;
}

#menuList{
    font-size: 115%;
    padding-bottom: 3px;
    display: block;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

h3{
    padding: 5px;
    text-align: center;
    font-size: 150%;
}

p {
    text-align: center;
    font-size: 110%;
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.page2grid {
    display: grid; 
    grid-template-rows: fr 1fr fr 1fr fr 1fr fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px; /* Decreased padding for the whole grid */
    gap: 0px;
}

.page2grid p {
    font-size: 20px;
}

#item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-2 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-3 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-5 { 
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-6 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

.image-container {
    display: flex;
    flex-direction: column; /* Arrange images vertically */
    align-items: center;
}

.image-container img {
    max-width: 90%; /* Make sure images fit within the container */
    height: auto;
    margin: 5px 0; /* Add some spacing between images */
}

#item-7 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}
#item-8 {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-9 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-row-end: 9;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

 #item-10 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

#item-11 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
}

.page3grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px; /* Decreased padding for the whole grid */
    gap: 0px;
}

.page4grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px; /* Decreased padding for the whole grid */
    gap: 0px;
}

#page3item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-3 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-4 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-6 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-7 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-8 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-9 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-10 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-11 { 
    grid-row-start: 6;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-12 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-13 {
    grid-row-start: 7;
    grid-column-start: 2;
    grid-row-end: 8;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-14 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-15 {
    grid-row-start: 8;
    grid-column-start: 2;
    grid-row-end: 9;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-16 {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 10;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-17 {
    grid-row-start: 9;
    grid-column-start: 2;
    grid-row-end: 10;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-18 {
    grid-row-start: 10;
    grid-column-start: 1;
    grid-row-end: 11;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-19 {
    grid-row-start: 10;
    grid-column-start: 2;
    grid-row-end: 11;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-20 {
    grid-row-start: 11;
    grid-column-start: 1;
    grid-row-end: 12;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-21 {
    grid-row-start: 11;
    grid-column-start: 2;
    grid-row-end: 12;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-22 {
    grid-row-start: 12;
    grid-column-start: 1;
    grid-row-end: 13;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }
 #page3item-23 {
    grid-row-start: 12;
    grid-column-start: 2;
    grid-row-end: 13;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px; /* Adjusted margin to make it closer to other items */
 }

.qrcode{
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center items horizontally */
}

.qrcode img{
    max-width: 250px;
    height: auto;
    padding-bottom: 5px;
}

.sources{
    background-color: #4F3629; /* Dark Brown */
    color: #FFFFFF; /* Text color for better contrast */
    padding-bottom: 5px;
}

.sources a {
    text-decoration: none;
    color: white;
    font-size: small;
    text-align: center;
}

.page{
    width:auto;
    height:auto;
}

nav ul li{display:inline;}
#page1{
    background-color: #FDF5E6; /* Cream or Beige */;
    color: #333333;
}

#page2{
    background-color: #FDF5E6;
    color: #333333;
}

#page3{
    background-color: #FDF5E6;
    color: #333333;
}
#page4{
    background-color: #FDF5E6;
    color: #333333;
}

#page5
{
    background-color: #FDF5E6;
    color: #333333;
}

/*for responsive menu*/
#hamIcon{
    display: none;
}

@media screen and (max-width:800px)
{
    nav ul li{display:block;} /*make a menu items vertical*/
    #hamIcon
    {
        display: block;
    }
    nav ul{display:none;}

    .page h3 { /* Adjusted font size for h3 */
        font-size: 18px;
    }

    .page p {
        font-size: 15px; /* Adjusted font size for p */
    }

    /* Adjust grid layout for mobile */
    .page2grid {
        display: grid; 
        grid-template-rows: 1fr fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    /* Adjust grid layout for mobile */
    .page3grid{
        display: grid; 
        grid-template-rows: repeat(24, 1fr);
        grid-template-columns: 1fr;
    }

    /* Adjust grid layout for mobile */
    .page4grid {
        display: grid; 
        grid-template-rows: repeat(22, 1fr);
        grid-template-columns: 1fr;
    }

    #page2,
    #page3,
    #page4 h3 {
        font-size: 18px; /* Adjusted font size for first page h3 */
    }

    #page2,
    #page3,
    #page4 p {
        font-size: 14px; /* Adjusted font size for first page p */
    }

    .page2grid h3,
    .page3grid h3,
    .page4grid h3 {
        font-size: 18px;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* Adjust header styles for mobile */
    .header {
        font-size: 16px; /* Reduce font size for better fit */
        padding: 10px; /* Increase padding for better spacing */
    }

    /* Adjust header button styles for mobile */
    .header button {
        padding: 8px 15px; /* Smaller button size */
        font-size: 18px; /* Adjust font size */
    }

    .qrcode img{
        max-width: 150px;
        height: auto;
        padding-bottom: 5px;
    }

    label {
        display: flex;
    }

    #hamIcon:checked ~ #menuList {
        display: block;
    }

    #menuList.menuHide{
        display: none;
        background-color: #8B0000;
        list-style-type: none;
        text-align: center;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        flex-direction: column;
        width: 100%;
        top: 60px;
        z-index: 0;
    }

    .menuHide{
        display: block;
    }

    #menuList button {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #8B0000;
        color: white;
        text-align: center;
    }

    #item-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
     }
     #item-1 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
     }
     #item-2 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
     }
     #item-3 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;
     }
     #item-4 {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;
     }
     #item-5 {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 2;
     }
     #item-6 {
        grid-row-start: 7;
        grid-column-start: 1;
        grid-row-end: 8;
        grid-column-end: 2;
     }
     #item-7 {
        grid-row-start: 8;
        grid-column-start: 1;
        grid-row-end: 9;
        grid-column-end: 2;
     }
     #item-8 { 
        grid-row-start: 9;
        grid-column-start: 1;
        grid-row-end: 10;
        grid-column-end: 2;
     }
     #item-9 {
        grid-row-start: 10;
        grid-column-start: 1;
        grid-row-end: 11;
        grid-column-end: 2;
     }
     #item-10 {
        grid-row-start: 11;
        grid-column-start: 1;
        grid-row-end: 12;
        grid-column-end: 2;
     }
     #item-11 {
        grid-row-start: 12;
        grid-column-start: 1;
        grid-row-end: 13;
        grid-column-end: 2;
     }

     #page3item-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 2;
     }
     #page3item-1 { 
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
     }
     #page3item-2 { 
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 2;
     }
     #page3item-3 {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 2;
     }
     #page3item-4 { 
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 6;
        grid-column-end: 2;
     }
     #page3item-5 {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 2;
     }
     #page3item-6 {
        grid-row-start: 7;
        grid-column-start: 1;
        grid-row-end: 8;
        grid-column-end: 2;
     }
     #page3item-7 {
        grid-row-start: 8;
        grid-column-start: 1;
        grid-row-end: 9;
        grid-column-end: 2;
     }
     #page3item-8 {
        grid-row-start: 9;
        grid-column-start: 1;
        grid-row-end: 10;
        grid-column-end: 2;
     }
     #page3item-9 {
        grid-row-start: 10;
        grid-column-start: 1;
        grid-row-end: 11;
        grid-column-end: 2;
     }
     #page3item-10 { 
        grid-row-start: 11;
        grid-column-start: 1;
        grid-row-end: 12;
        grid-column-end: 2;
     }
     #page3item-11 {
        grid-row-start: 12;
        grid-column-start: 1;
        grid-row-end: 13;
        grid-column-end: 2;
     }
     #page3item-12 { 
        grid-row-start: 13;
        grid-column-start: 1;
        grid-row-end: 14;
        grid-column-end: 2;
     }
     #page3item-13 {
        grid-row-start: 14;
        grid-column-start: 1;
        grid-row-end: 15;
        grid-column-end: 2;
     }
     #page3item-14 {
        grid-row-start: 15;
        grid-column-start: 1;
        grid-row-end: 16;
        grid-column-end: 2;
     }
     #page3item-15 {
        grid-row-start: 16;
        grid-column-start: 1;
        grid-row-end: 17;
        grid-column-end: 2;
     }
     #page3item-16 {
        grid-row-start: 17;
        grid-column-start: 1;
        grid-row-end: 18;
        grid-column-end: 2;
     }
     #page3item-17 {
        grid-row-start: 18;
        grid-column-start: 1;
        grid-row-end: 19;
        grid-column-end: 2;
     }
     #page3item-18 {
        grid-row-start: 19;
        grid-column-start: 1;
        grid-row-end: 20;
        grid-column-end: 2;
     }
     #page3item-19 {
        grid-row-start: 20;
        grid-column-start: 1;
        grid-row-end: 21;
        grid-column-end: 2;
     }
     #page3item-20 {
        grid-row-start: 21;
        grid-column-start: 1;
        grid-row-end: 22;
        grid-column-end: 2;
     }
     #page3item-21 {
        grid-row-start: 22;
        grid-column-start: 1;
        grid-row-end: 23;
        grid-column-end: 2;
     }
     #page3item-22 {
        grid-row-start: 23;
        grid-column-start: 1;
        grid-row-end: 24;
        grid-column-end: 2;
     }
     #page3item-23 {
        grid-row-start: 24;
        grid-column-start: 1;
        grid-row-end: 25;
        grid-column-end: 2;
     }

    /* Adjust image-container styles for mobile */
    .image-container img {
        max-width: 45%; /* Make images fit within container */
        width: 80%; /* Adjust width for better fit */
        height: auto;
    }

    /* Hamburger Icon Start*/
    label {
        display: flex;
        float: right;
        flex-direction: column;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-right: 10px;
    }
    
    label span {
        background: #fff;
        border-radius: 10px;
        height: 4px;
        width: 25px;
        margin: 3px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    input[type="checkbox"] {
        display: none;
    }

    span:nth-of-type(1)
    {
        width:50%;
    }
      
    span:nth-of-type(2)
    {
        width:100%;
    }
      
    span:nth-of-type(3)
    {
        width:75%;
    }

    input[type="checkbox"]{
        width: 0;
        height: 0;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1)
    {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(4.5px,0px)
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2)
    {
        transform-origin:top;
        transform:rotatez(-45deg)
    }
      
    input[type="checkbox"]:checked ~ span:nth-of-type(3)
    {
        transform-origin:bottom;
        width:63%;
        transform: translate(10px,-8px) rotatez(45deg);
    }
}