* {
    font-family: Bundes Sans;
}

@font-face {
    font-family: Bundes Sans;
    src: url(../fonts/BundesSans-Regular.ttf)
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

h3{
    padding-top: 5px;
    text-align: center;
    font-size: 170%;
}

p {
    font-size: 140%;
}

/* Bug Fix for Ham Menu */
#menuList.menuShow{
    display: block;
}

#menuList{
    font-size: 115%;
}

.qrcode{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page{width:auto;height:auto;}
nav ul li{display:inline;}
#page1{background: rgb(237, 195, 116);}
#page2{background: grey;}
#page3{background: grey;}
#page4{background: grey;}

/*for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:800px){
nav ul li{display:block;} /*make a menu items vertical*/
#hamIcon{
    display: block;
    font-size: 115%;
} /* unhide menu icon */
nav ul{display:none;} /*hide the menu item list*/
}